<center><h1 style="color:cornflowerblue"  >Welcome to Hangman!</h1>
<br>
<form action='names' method='post'>

	<h3 style="font-family:arial">Enter the name of the player choosing the secret word:
	<input type='text' name='p1_name_input' autofocus='autofocus'><p>

	Enter the name of the player guessing the secret word:
	<input type='text' name='p2_name_input'></h3><b>

	<input type='submit'>
</form></center>