<center><h3><%=p1%>, please enter your secret word here:</h3>
<form action='secret_word' method='post'>
	<input type='text' name='secret_word_input' autofocus='autofocus'>
	<input type='text' name='p1_name_input' value= <%=p1%> hidden>
	<input type='submit'>
</form></center>

